.m-t-10{
    margin-top: 10px;
}

.error{
    color: red;
}


.main-content {
    margin-left: 180px;
    margin-right: 20px;
    margin-top: 10px;
    /* overflow-y: auto; */
    overflow-x: auto;
}

.auth-box{
    margin-right: 160px;
    
}
