.nav_bar{
    height: 45px;
    background-color: brown;
    margin-left:20px ;
    margin-right: 20px;
    position: sticky;
    top:20px;
    left:20px;
    z-index: 100;
}

.nav_list{
    list-style-type: none;
}

.nav_item a{
    float: left;
    padding: 10px;
    color:white
}


.nav_item a:hover{ 
    color:blue;
    cursor: pointer;
    text-decoration: none;
}


.nav_item a:active{ 
    font-weight: bold;
}


.selected{
    background-color: maroon;
}

.logout{
    float: right;
    margin-right: 10px;
    margin-top:3px
}

.user-info{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    font-weight: bold;
}
