
.sidebar{
    margin-top:3px;
    width: 150px;
    height: 100%;
    background-color: brown;
    position: fixed;
    left: 20px;
}

.sidebar a{
    color: white;
    display: inline-block;
    padding: 10px;
}

.sidebar a:hover{ 
    color:blue;
    cursor: pointer;
    text-decoration: none;
}


.sidebar a:active{ 
    font-weight: bold;
}


.selected-sidebar{
    background-color: maroon;
    width: 150px;
}
